{% load static %}
<!doctype html>
<html lang="pt-br">
  {% include "encurtador/header.html" %}

  <body class="reduce-main text-center">

    <div class="container">
      {% include "encurtador/titulo.html" %}
      <div class="row">
        <div class="offset-sm-1 col-sm-10">
          <form>
            <div class="row">
              <div class="col-sm-10 input-group-lg">
                <input type="text" id="inputContent" class="form-control" placeholder="Cole seu link aqui..." required autofocus>
              </div>
              <div class="col-sm-2">
                <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Reduzir</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      {% include "encurtador/ano_jornada.html" %}
    </div>

    {% include "encurtador/bootstrap_core_js.html" %}

  </body>
</html>