{% load static %}
<!doctype html>
<html lang="pt-br">
{% include "encurtador/header.html" %}

  <body class="reduce-main text-center">
    
    <div class="container">
{% include "encurtador/titulo.html" %}

      <div class="row">
          <div class="offset-sm-1 col-sm-10 mt-5">
              <div class="panel">
                  <div class="panel-heading">
                      <h3 class="panel-title font-weight-bold mb-3">Url cadastradas</h3>
                  </div>
                  <div class="panel-body">
                      <div class="table-responsive">
                            <!-- ##### Tabela ##### -->
                            <table class="table table-striped">
                                  <thead>
                                  <tr>
                                      <th class="text-left">Nome da url</th>
                                      <th>Destino</th>
                                      <th>Relatório</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  {% for url in page_obj %}
                                      <tr>
                                          <td class="text-left">{{ url.slug }}</td>
                                          <td>{{ url.destino }}</td>
                                          <td><a href={{url.get_absolute_url}}>relatório</td>
                                      </tr>
                                  {% endfor%}
                                  </tbody>
                            </table>
                            <!-- ##### Tabela ##### -->

                            <!-- ##### Pagination ##### -->
                            <section>
                                <ul class='pagination'>
                                    <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?page={{ page_obj.previous_page_number }}"><<</a>
                                    {% endif %}

                                    <span class="current">
                                    {% for _ in page_obj.paginator %}
                                        {% if forloop.counter == page_obj.number %}
                                            [{{ forloop.counter }}]
                                        {% elif forloop.counter < page_obj.number %}
                                            <a href="?page={{ page_obj.previous_page_number }}">[{{ forloop.counter }}]</a>
                                        {% else %}
                                            <a href="?page={{ page_obj.next_page_number }}">[{{ forloop.counter }}]</a>
                                        {% endif %}
                                    {% endfor %}
                                    </span>

                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}">>></a>
                                    {% endif %}
                                    </span>
                                </ul>
                            <section>
                            <!-- ##### Pagination ##### -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      {% include "encurtador/ano_jornada.html" %}
    </div>

    {% include "encurtador/bootstrap_core_js.html" %}

  </body>
</html>